* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body,
html {
  height: 100%;
  background-color: black;
}

.background {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1280,h_720,q_75,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZjU2MmFhZjQtNWRiYi00NjAzLWEzMmItNmVmNmMyMjMwMTM2XC9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LOYKSxIDqfPwWHR0SSJ-ugGQ6bECF0yO6Cmc0F26CQs');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  color: white;
  background-color: black;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 5px 9px;
  align-items: center;
}


img {
  width: 200px;
  padding: 5px 5px;
  margin-left: 90px;
  margin-top: 0;
}

.lang-signin select {
  padding: 6px;
  margin-right: 7px;
  background-color: rgba(0, 0, 0, 0.2);
  color: whitesmoke;
}

select option {
  background-color: white;
  color: black;
}

.signin-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 9px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 90px;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  top: 20%;
  padding: 0 10px;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: bolder;
  padding: 5px 5px;
}

.content h2 {
  font-size: 1rem;
  margin-bottom: 15px;
}

.content p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.email-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.email-form input {
  padding: 15px;
  width: 300px;
  max-width: 80%;
  border: 1px solid rgba(220, 208, 208, 0.8);
  border-radius: 4px;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}


.email-form button {
  padding: 15px 25px;
  background-color: red;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.quest {
  text-align: left;
  margin-top: 30px;
  font-size: 1.5rem;
  color: white;
  padding: 15px 20px;
  margin-left: 125px;
}

.mainfaq {
  color: white;
  margin-top: 0;
  padding: 15px 20px;
  margin-bottom: 30px;
  margin-left: 125px;
  margin-right: 125px;
}

.faq {
  background-color: rgb(36, 35, 35);
  padding: 15px 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.faq h3{
  font-weight: 750;
}


footer {
  color: white;
  padding: 50px 150px;
}

.call {
  text-decoration: none;
  color: white;
}

.mainfoot {
  display: flex;
  gap: 120px;
  margin-top: 10px;
}

.foot {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.foot a {
  color: white;
}